<div class="ui raised segment">
  <h2 class="ui header">
    Demo Form SKU
  </h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form"> <!-- #var locale et ngSubmit (méthode)-->
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" id="skuInput" placeholder="SKU" name="sku" ngModel> <!-- modèle du formulaire -->
    </div>
    <div class="field">
        <label for="nameInput">NAME</label>
        <input type="text" id="nameInput" placeholder="Name" name="name" ngModel> <!-- modèle du formulaire -->
      </div>
    <button type="submit" class="ui button">SUBMIT</button>
  </form>
</div>
